.App-logo {
  /* animation: spin infinite 20s linear; */
  height: 80px;
  text-align: center;
}

.App-header {
  background-color: rgb(119, 136, 153);
  padding: 20px;
  color: white;
  text-align: center;
}

.chip {
  font-size: medium;
}

.App-intro {
  font-size: large;
  text-align: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}